<!DOCTYPE html>
<html>
<style>
body {background-image: "fur.png";
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
td {
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	border: 2px solid black
	}
	</body>
</html>
